In [21]:
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [110]:
df1 = pd.read_csv('INMET_2023.csv', encoding='latin1', sep=';')

In [87]:
df2 = pd.read_csv('Clima_inter_2019_2022.csv')

In [89]:
# Remover as colunas indesejadas
df2 = df2.drop(columns=['Unnamed: 0', 'Umi. Ins. (%)'])

In [101]:
df2

,Data,Hora (UTC),Temp. Ins. (C),Vel. Vento (m/s),Raj. Vento (m/s),Chuva (mm)
0,2019-01-01,00:00:00,21.5,5.9,2.3,0.0
1,2019-01-01,01:00:00,21.1,4.6,2.1,0.0
2,2019-01-01,02:00:00,20.7,4.4,1.6,0.0
3,2019-01-01,03:00:00,20.5,4.0,1.7,0.0
4,2019-01-01,04:00:00,20.7,4.2,1.9,0.0
...,...,...,...,...,...,...
34359,2022-12-31,19:00:00,19.4,6.6,0.8,32.0
34360,2022-12-31,20:00:00,21.0,7.4,2.0,2.0
34361,2022-12-31,21:00:00,21.7,5.4,1.5,0.0
34362,2022-12-31,22:00:00,20.9,5.3,2.4,0.0
34363,2022-12-31,23:00:00,20.5,5.3,1.9,0.0

In [111]:
# Forma correta de substituir valores NaN por 0
df1['Chuva (mm)'] = df1['Chuva (mm)'].fillna(0)

In [112]:
# Verificar valores não numéricos nas colunas especificadas
colunas_para_verificar = ['Temp. Ins. (C)', 'Vel. Vento (m/s)', 'Raj. Vento (m/s)', 'Chuva (mm)']

for coluna in colunas_para_verificar:
    # Converter a coluna para numérico, substituindo valores não numéricos por NaN
    nao_numericos = df1[pd.to_numeric(df1[coluna], errors='coerce').isna()]
    
    # Filtrar apenas os valores não numéricos
    if not nao_numericos.empty:
        print(f"Valores não numéricos na coluna '{coluna}':")
        print(nao_numericos[coluna])
    else:
        print(f"Nenhum valor não numérico encontrado na coluna '{coluna}'.")

Valores não numéricos na coluna 'Temp. Ins. (C)':
948     ;
3753    ;
3765    ;
3776    ;
3791    ;
3808    ;
3824    ;
4076    ;
4088    ;
4104    ;
4119    ;
4136    ;
4154    ;
4175    ;
4195    ;
4336    ;
4347    ;
4357    ;
4367    ;
4509    ;
4531    ;
4546    ;
4549    ;
5002    ;
5566    ;
5577    ;
5671    ;
6324    ;
Name: Temp. Ins. (C), dtype: object
Valores não numéricos na coluna 'Vel. Vento (m/s)':
3765    ;
3776    ;
3791    ;
3808    ;
3824    ;
       ..
8583    ;
8584    ;
8585    ;
8586    ;
8587    ;
Name: Vel. Vento (m/s), Length: 363, dtype: object
Valores não numéricos na coluna 'Raj. Vento (m/s)':
3765    ;
3776    ;
3791    ;
3808    ;
3824    ;
4076    ;
4088    ;
4104    ;
4119    ;
4136    ;
4154    ;
4175    ;
4195    ;
4336    ;
4347    ;
4357    ;
4367    ;
4531    ;
4546    ;
4549    ;
5671    ;
Name: Raj. Vento (m/s), dtype: object
Valores não numéricos na coluna 'Chuva (mm)':
3765                ;
3776                ;
3791                ;
3808                ;
3824                ;
4076                ;
4088                ;
4104                ;
4119                ;
4136                ;
4154                ;
4175                ;
4195                ;
4336                ;
4347                ;
4357                ;
4367                ;
4443    \n11/07/2023"
4531                ;
4546                ;
4549                ;
5671                ;
Name: Chuva (mm), dtype: object

In [113]:
# Substituir o valor específico '\n11/07/2023"' por 0 na coluna 'Chuva (mm)'
df1['Chuva (mm)'] = df1['Chuva (mm)'].replace('\n11/07/2023"', 0)

In [114]:
# Substituir os valores não numéricos por NaN em todas as colunas relevantes
colunas_para_verificar = ['Temp. Ins. (C)', 'Vel. Vento (m/s)', 'Raj. Vento (m/s)', 'Chuva (mm)']

# Substituir ';' por NaN nas colunas selecionadas
df1[colunas_para_verificar] = df1[colunas_para_verificar].replace(';', np.nan)

# Agora você pode verificar se há valores ausentes (NaN) e tratá-los
print(df1[colunas_para_verificar].isnull().sum())

Temp. Ins. (C)       28
Vel. Vento (m/s)    363
Raj. Vento (m/s)     21
Chuva (mm)           21
dtype: int64

In [115]:
# Excluir linhas com valores NaN nas colunas especificadas
colunas_para_excluir_nan = ['Temp. Ins. (C)', 'Vel. Vento (m/s)', 'Raj. Vento (m/s)']

# Remover linhas onde qualquer uma das colunas especificadas contém NaN
df1_filtered = df1.dropna(subset=colunas_para_excluir_nan)

# Verificar a quantidade de linhas restantes
print(f'Número de linhas restantes: {df1.shape[0]}')

# Opcional: Ver a linha 4546 após a remoção
if len(df1) > 4545:
    print(df1.iloc[4545])
else:
    print("A linha 4546 não está mais disponível após a exclusão.")

Número de linhas restantes: 8588
Data                16/07/2023"
Hora (UTC)                  200
Temp. Ins. (C)             11.9
Vel. Vento (m/s)            1.2
Raj. Vento (m/s)            3.5
Chuva (mm)                    0
Name: 4545, dtype: object

In [116]:
# Converter as colunas para tipo numérico, se necessário
df1['Temp. Ins. (C)'] = pd.to_numeric(df1['Temp. Ins. (C)'], errors='coerce')
df1['Vel. Vento (m/s)'] = pd.to_numeric(df1['Vel. Vento (m/s)'], errors='coerce')
df1['Raj. Vento (m/s)'] = pd.to_numeric(df1['Raj. Vento (m/s)'], errors='coerce')
df1['Chuva (mm)'] = pd.to_numeric(df1['Chuva (mm)'], errors='coerce')

# Calcular as estatísticas desejadas
estatisticas = {
    'Temperatura (°C)': {
        'Max': df1['Temp. Ins. (C)'].max(),
        'Min': df1['Temp. Ins. (C)'].min(),
        'Media': df1['Temp. Ins. (C)'].mean(),
        'Moda': df1['Temp. Ins. (C)'].mode()[0],
        'Mediana': df1['Temp. Ins. (C)'].median(),
    },
    'Velocidade do Vento (m/s)': {
        'Max': df1['Vel. Vento (m/s)'].max(),
        'Min': df1['Vel. Vento (m/s)'].min(),
        'Media': df1['Vel. Vento (m/s)'].mean(),
        'Moda': df1['Vel. Vento (m/s)'].mode()[0],
        'Mediana': df1['Vel. Vento (m/s)'].median(),
    },
    'Rajada do Vento (m/s)': {
        'Max': df1['Raj. Vento (m/s)'].max(),
        'Min': df1['Raj. Vento (m/s)'].min(),
        'Media': df1['Raj. Vento (m/s)'].mean(),
        'Moda': df1['Raj. Vento (m/s)'].mode()[0],
        'Mediana': df1['Raj. Vento (m/s)'].median(),
    },
    'Chuva (mm)': {
        'Max': df1['Chuva (mm)'].max(),
        'Min': df1['Chuva (mm)'].min(),
        'Media': df1['Chuva (mm)'].mean(),
        'Moda': df1['Chuva (mm)'].mode()[0],
        'Mediana': df1['Chuva (mm)'].median(),
    },
}

# Exibir as estatísticas
for coluna, stats in estatisticas.items():
    print(f'Estatísticas para {coluna}:')
    for stat, valor in stats.items():
        print(f'  {stat}: {valor}')

Estatísticas para Temperatura (°C):
  Max: 37.9
  Min: 7.7
  Media: 20.22542056074766
  Moda: 19.9
  Mediana: 19.8
Estatísticas para Velocidade do Vento (m/s):
  Max: 23.6
  Min: 0.1
  Media: 1.9826018237082066
  Moda: 1.3
  Mediana: 1.8
Estatísticas para Rajada do Vento (m/s):
  Max: 100.0
  Min: 0.0
  Media: 5.1022995214194
  Moda: 0.0
  Mediana: 4.9
Estatísticas para Chuva (mm):
  Max: 46.2
  Min: 0.0
  Media: 0.1069569277460021
  Moda: 0.0
  Mediana: 0.0

In [117]:
# Remover linhas onde 'Vel. Vento (m/s)' ou 'Raj. Vento (m/s)' são NaN
df1 = df1.dropna(subset=['Vel. Vento (m/s)', 'Raj. Vento (m/s)'])

In [118]:
# Substituir todas as vírgulas por pontos em todos os DataFrames
df1 = df1.replace(',', '.', regex=True)

In [125]:
# 1. Remover aspas da coluna 'Data'
df1['Data'] = df1['Data'].str.replace('"', '', regex=False)

# 2. Converter a coluna 'Data' para o formato YYYY-MM-DD
df1['Data'] = pd.to_datetime(df1['Data'], format='%d/%m/%Y').dt.strftime('%Y-%m-%d')

ValueError: time data "2023-01-01" doesn't match format "%d/%m/%Y", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [128]:
# 3. Converter a coluna 'Hora (UTC)' para HH:MM:SS
def format_time(value):
    time_str = f"{value:04}"
    return f"{time_str[:2]}:{time_str[2:]}:00"

df1['Hora (UTC)'] = df1['Hora (UTC)'].apply(format_time)

In [134]:
df_combined = pd.concat([df2, df1], ignore_index=True)

In [136]:
df_combined.to_csv('Clima_inter_2019_2023.csv', index=False)