In [1]:
import pandas as pd
import numpy as np

In [56]:
df = pd.read_csv('interrupcoes-energia-eletrica-2019.csv', encoding = 'latin1', delimiter = ';', usecols=[2, 8])

In [57]:
dfconsumidora = df[df['DscConjuntoUnidadeConsumidora']=='TUCURUVI'].copy()

dfconsumidora

        DscConjuntoUnidadeConsumidora DatInicioInterrupcao
3837888                      TUCURUVI  2019-05-25 16:17:40
3838161                      TUCURUVI  2019-11-30 19:11:00
3838214                      TUCURUVI  2019-12-15 17:27:50
3838342                      TUCURUVI  2019-11-16 22:44:59
3838356                      TUCURUVI  2019-05-25 16:14:49
...                               ...                  ...
4096802                      TUCURUVI  2019-12-23 17:09:02
4096830                      TUCURUVI  2019-12-23 16:34:57
4096836                      TUCURUVI  2019-12-23 16:44:51
4096881                      TUCURUVI  2019-12-23 18:35:27
4096924                      TUCURUVI  2019-12-23 17:59:44

[2595 rows x 2 columns]

In [58]:
dfconsumidora.to_csv('interrupções_Tucuruvi_2019.csv', index=False)

In [59]:
df2019 = pd.read_csv('interrupções_Tucuruvi_2019.csv')
df2020 = pd.read_csv('interrupções_Tucuruvi_2020.csv')
df2021 = pd.read_csv('interrupções_Tucuruvi_2021.csv')
df2022 = pd.read_csv('interrupções_Tucuruvi_2022.csv')
df2023 = pd.read_csv('interrupções_Tucuruvi_2023.csv')

In [60]:
dfCompilado2019_2022 = pd.concat([df2019,df2020,df2021,df2022,df2023])
dfCompilado2019_2022

     DscConjuntoUnidadeConsumidora DatInicioInterrupcao
0                         TUCURUVI  2019-05-25 16:17:40
1                         TUCURUVI  2019-11-30 19:11:00
2                         TUCURUVI  2019-12-15 17:27:50
3                         TUCURUVI  2019-11-16 22:44:59
4                         TUCURUVI  2019-05-25 16:14:49
...                            ...                  ...
2347                      TUCURUVI  2023-12-06 09:04:40
2348                      TUCURUVI  2023-12-06 09:48:50
2349                      TUCURUVI  2023-12-05 16:49:32
2350                      TUCURUVI  2023-12-05 22:15:00
2351                      TUCURUVI  2023-12-05 21:05:28

[9969 rows x 2 columns]

In [61]:
# Converter as colunas de tempo na tabela de quedas de energia
dfCompilado2019_2022['DatInicioInterrupcao'] = pd.to_datetime(dfCompilado2019_2022['DatInicioInterrupcao'])

# Extrair apenas a data e arredondar a hora das interrupções
dfCompilado2019_2022['Data'] = dfCompilado2019_2022['DatInicioInterrupcao'].dt.date
dfCompilado2019_2022['Hora'] = dfCompilado2019_2022['DatInicioInterrupcao'].dt.hour + np.round(dfCompilado2019_2022['DatInicioInterrupcao'].dt.minute / 60)

# Certificar que a coluna 'Hora' tenha valores inteiros
dfCompilado2019_2022['Hora'] = dfCompilado2019_2022['Hora'].astype(int)

In [62]:
# Agrupar as interrupções por Data e Hora, e contar o número de ocorrências
energia_agrupada2019_2022 = dfCompilado2019_2022.groupby(['Data', 'Hora']).size().reset_index(name='num_ocorrencias')

# Ensure the 'Data' column in energia_agrupada is of datetime type
energia_agrupada2019_2022['Data'] = pd.to_datetime(energia_agrupada2019_2022['Data'])

In [64]:
#salvar em csv
energia_agrupada2019_2022.to_csv('interrupcoes_Tucuruvi_2019-2023.csv', index=False)